.inputWrapper {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
}

.label {
    font-size: 14px;
    color: #8D9094;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
}

.inputContainer {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.input {
    box-sizing: border-box;
    width: 100%;
    padding: 8px 30px 8px 12px;
    border: 1px solid #4C4C4C;
    border-radius: 2px;
}

.input::placeholder {
    color: #8D9094;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
}

.errorText {
    color: #CC1439;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    margin-top: 4px;
}

.togglePassword {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 1;
}
