.wrapper {
    margin: 0px 24px 24px 24px;
  }
  
  .inputWrapper {
    margin: 30px 0 30px 0;
    text-align: left;
  }
  
  .textWrapper {
    text-align: left;
    margin-bottom: 17px;
    font-size: 14px;
  }
  
  .linkWrapper {
    margin-bottom: 30px;
    margin-top: 30px;
    & a {
      font-size: 16px;
      color: var(--color-info-500);
      text-decoration: none;
    }
  }

  .wrapperLink {
    font-size: 6px;
    display: flex;
    flex-direction: column;
    line-height: 7px;
    align-items: center;
    & div {
      font-size: 8px;
      margin-bottom: 2px;
   
    }
    & .image {
      margin-bottom: 8px;
    }
    & a{
      text-decoration: none;
    }
  }
  
  .error {
    color: var(--color-danger-500);
  }
  
  
  .text{
    font-size: 14px;
    color: #8D9094;
  }