.circle {
  width: 13px;
  height: 13px;
  background-color: var(--color-danger-500);
  border-radius: 50%;
  color: var(--color-light-100);
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -4px;
  right: -5px;
}
