.wrapper {
  margin: 0 24px 24px 24px;
}

.inputWrapper {
  margin: 30px 0 30px 0;
  text-align: left;
}

.textWrapper {
  text-align: left;
  margin-bottom: 17px;
}

.linkWrapper {
  margin-bottom: 30px;
  margin-top: 30px;
  & a {
    font-size: 16px;
    color: var(--color-info-500);
    text-decoration: none;
  }
}

.recaptchaWrapper {
  display: flex;
  justify-content: center;
}

.recaptcha {
  width: 300px;
  padding: 15px 20px;
  border: 1px solid var(--color-dark-500);
  display: flex;
  justify-content: space-between;
}

.wrapperLink {
  font-size: 6px;
  display: flex;
  flex-direction: column;
  line-height: 7px;
  align-items: center;
  & div {
    font-size: 8px;
    margin-bottom: 2px;
 
  }
  & .image {
    margin-bottom: 8px;
  }
  & a{
    text-decoration: none;
  }
}

.error {
  color: var(--color-danger-500);
}

