.mainContainer {
    display: flex;
    flex-direction: column;
    width: 972px;
    height: 564px;
}

.bodyContainer {
    display: flex;
    flex-grow: 1;
}

.imageContainer {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1.5rem 2.5rem;
}

.textLinkContainer {
    padding-bottom: 1.5rem;
}

.textLinkContainer:hover {
    text-decoration: underline;
}

.avatar {
    margin-right: 0.75rem;
}

.textArea {
    height: 200px;
    resize: none;
    background-color: red;
}

.form {
    display: flex;
}