.rootAvatar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 9999px;
    background-color: var(--color-dark-500);
    transition: opacity 0.2s ease;
    cursor: pointer;
}

.rootAvatar:hover {
    opacity: 0.8;
}

.imageAvatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.svgImageOutline {
    width: 100%;
    height: 100%;
}