.mainContainer {
    width: 492px;
    height: 564px;
    display: flex;
    flex-direction: column;
}

.bodyContainer {
    height: 100%;
}

.contentContainer {
    height: 100%;
    position: relative;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.iconContainer {
    position: absolute;
    bottom: 0.75rem;
    left: 0.75rem;
}

.iconEditButton {
    margin-right: 1.5rem;
}