.wrapper {
    margin: 0 24px 24px 24px;
  }
  
  .inputWrapper {
    margin: 30px 0 30px 0;
    text-align: left;
  }
  
  .textWrapper {
    text-align: left;
    margin-bottom: 17px;
    font-size: var(--font-size-s);
  }
  
  .linkWrapper {
    margin-bottom: 30px;
    margin-top: 30px;
    & a {
      font-size: var(--font-size-s);
      color: var(--color-info-500);
      text-decoration: none;
    }
  }

  .wrapperLink {
    font-size: var(--font-size-xs);
    display: flex;
    flex-direction: column;
    line-height: var(--line-height-s);
    align-items: center;
    & div {
      font-size:  var(--font-size-xs);
      margin-bottom: 2px;
   
    }
    & .image {
      margin-bottom: 8px;
    }
    & a{
      text-decoration: none;
    }
  }
  
  .error {
    color: var(--color-danger-500);
  }
  
  
  .text{
    font-size: var(--font-size-s);
    color: var(--color-light-900);
  }