.inputWrapper > *:not(:last-child) {
    margin-bottom: 24px;
  }

  .inputWrapper :last-child {
    margin-bottom: 12px;
  }

.text{
    font-size: 12px;
    margin-left: 12px;

}

.policy{
    display: flex;
    align-items: center;
}


a:visited {
    color: var(--color-info-300); 
  }