.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;  
  /* gap: var(--line-height-m);  */
}

.description {
  text-align: center;
  color: var(--color-light-900);
  margin-bottom: var(--line-height-m);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-s); 
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  text-align: left;
}

.reCaptcha {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 84px;
  border: 1px solid var(--color-dark-300);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 378px; /* Соответствует ширине ForgotPasswordPage */
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: var(--color-dark-500);
  border-radius: 2px;
  position: relative;
  width: 100%;
  border: 1px solid var(--color-dark-300);
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  border-bottom: 1px solid var(--color-dark-300);
}

.modalTitle {
  color: var(--color-light-100);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: var(--color-light-100);
  font-size: var(--font-size-xl);
}

.modalBody {
  padding: var(--line-height-m) 24px;
}

.successMessage {
  text-align: left;
  color: var(--color-light-100);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  margin-bottom: var(--line-height-m);
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  padding-top: var(--line-height-s);
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* gap: 24px; */
}

.backButton {
  color: var(--color-info-500); 
  text-decoration: none;  
  font-weight: var(--font-weight-regular);
}

.backButton:hover {
  color: var(--color-info-100);
  text-decoration: none;
}

