.Trigger {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 2px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 24px;
  background-color: #0d0d0d;
  border: 1px solid #4c4c4c;
  outline: none;
  &:focus {
    border: 2px solid #397df6;
  }
}

.open {
  border: 1px solid white;
  background-color: #171717;
}

.var1 {
  color: white;
}

.var2 {
  color: #8d9094;
}

.disabled {
  color: #4c4c4c;
}

.Icon {
  color: Var(--violet-11);
  display: flex;
}

.Content {
  position: relative;
  z-index: 100;
  background-color: #171717;
  width: var(--radix-select-trigger-width); 
  min-width: var(--radix-select-trigger-width);
  border: 1px solid white;
}

/* .ItemText{

	&:not(:first-child){
	padding-top: 12px;
	}
} */

.Viewport {
  /* padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px; */

}

.Item {
  font-size: 16px;
  line-height: 24px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: white;
  padding-left: 12px;

}

.Item[data-highlighted] {
  /* Стили для SuperSelect.Item при наведении */
  background-color: #333333;
  outline: none;
  color: #397df6;
}

.ItemText {
  padding-left: 12px;
}

.Label {
  padding: 0 25px;
  font-size: 12px;
  line-height: 25px;
  color: var(--mauve-11);
}

.Separator {
  /* position: absolute;
	left: 0;
	right: 0;
	height: 1px;
	background-color:black;
	top: 0; Позиционирование линии вверху */
}

.ItemIndicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.ScrollButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background-color: white;
  color: var(--violet-11);
  cursor: default;
}




