.wrapper {
    margin: 0 24px 24px 24px;
}

.inputWrapper {
    margin: 30px 0 30px 0;
    text-align: left;
}

.error {
    color: var(--color-danger-500);
    margin: 0;
}

.text {
    margin: 0;
    font-size: var(--font-size-s);
    color: var(--color-light-900);
    line-height: var(--line-height-m);
}