.wrapper {
  display: flex;
  margin-top: 24px;
  justify-content: flex-end;
}

.btn {
  border-radius: 2px;
  border: 1px solid var(--color-dark-500);
  padding: 9px 12px;
}

.text {
  margin: 0 54px;
  display: flex;
  align-items: center;
}
