.textLink {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.focusVisible {

    border-radius: 4px;
    outline-offset: 2px;
}

.textPrimary {

}

.textRegular {
    color: var(--color-light-100);
}

.textLarge {
    font-size: var(--font-size-l);
}

.textMedium {
    font-size: var(--font-size-s);
}

.textSmall {
    font-size: var(--font-size-xs);
}

.underline {
    text-decoration: underline;
}

.noUnderline {
    text-decoration: none;
}
