.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.avatarSection {
    position: relative;
    margin-bottom: 1.5rem;
}

.closeOutline {
    position: absolute;
    top: 0;
    right: 0;
}

.iconButton svg {
    background-color: var(--color-danger-500);
    border-radius: 50%;
    cursor: pointer;
    width: 24px;
    height: 24px;
    scale: 0.7;
}

.iconButton {
    background-color: var(--color-dark-900);
    border-radius: 50%;
    width: 38px;
    height: 38px;
}

.spinner {
    width: 12rem;
}