.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.back-link {
    color: var( --color-light-100);
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.back-link svg {
    margin-right: 12px;
    width: 24px;
    height: 24px;
}

.title {
    text-align: center;
    margin: 24px 0;
    font-size: 32px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.text {
    width: 80%;
    text-align: center;
    font-size: 14px;
}

.text strong {
    font-weight: bold;
}

.text br {
    margin: 8px 0;
}

.text p {
    margin-bottom: 16px;
}
