.button {
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    text-align: center;
    min-width: 120px;
}

/* Варианты кнопок */
.primary {
    background-color: #397DF6;
    color: white;
}

.primary:hover {
    background-color: #1e40af;
}

.primary:active {
    background-color: #1e3a8a;
    transform: scale(0.98);
}

.secondary {
    background-color: #6b7280;
    color: #d1d5db;
    cursor: not-allowed;
}

.outline {
    border: 2px solid #2563eb;
    color: #2563eb;
    background-color: transparent;
}

.outline:hover {
    background-color: #2563eb;
    color: white;
}

.outline:active {
    background-color: #1e40af;
    color: white;
    transform: scale(0.98);
}

.ghost {
    color: #2563eb;
    background-color: transparent;
}

.ghost:hover {
    text-decoration: underline;
}

.ghost:active {
    opacity: 0.8;
}

