.inputWrapper:not(:last-child) {
  margin-bottom: 24px;
}

.inputWrapper:has(.error) {
  margin-bottom: 0px; /* Увеличиваем отступ, если есть ошибка */
}

.text {
  font-size: 12px;
  margin-left: 12px;
}

a:visited {
  color: var(--color-info-300);
}

.question {
  display: inline-block;
  margin: 18px 0px 6px 0px;
}

.error {
  display: block;
  margin-top: 4px;
  color: var(--color-danger-500);
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  font-family: var(--font-family-primary);
  text-align: left;
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.wrapper {
  margin: 0px 24px 30px 24px;

}

.forgotPassword {
  margin-bottom: 24px;
  text-align: right;
  & a {
    font-size: 14px;
    color: #8d9094;
    font-weight: 400;
    text-decoration: none;
  }
}

.wrapperIcons {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  margin-top: 13px;
}

.btn {
  all: unset;
  cursor: pointer;
  &:first-child {
    margin-right: 60px;
  }
}